.issue
{
    box-shadow: 5px 5px 5px 0px #EEECCC;
    background-color: white;
}

.issue > *
{
    margin-left: 1em;
}

.issue > footer
{
    font-size: 80%;
    color: grey;
}

.issue > form
{
    text-align: right;
}

.issue.ASSIGNED
{
    border-left: 0.3em solid green;
}

.issue.CLOSED
{
    border-left: 0.3em solid blue;
}

.issue.OPEN
{
    border-left: 0.3em solid red;
}

aside
{
    width: 100%;
    overflow: scroll;
}

main 
{
    width: 100%;
}

@media screen and (min-width: 12in)
{
    aside
    {
        max-width: 4in;
        float: right;
        width: 40%;
    }
    
    main
    {
        max-width: 8in;
        width: 60%;
        float: right;
        overflow: hidden;
    }
}

body
{
    margin: 0 auto;
    max-width: 12in;
    background-color: #FFFEEE;
}